<h1>Nueva petición</h1>
<%= form_for :donacione, url: donaciones_path do |f| %>

<% if @donacione.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@donacione.errors.count, "errores") %> evitaron que se pudiera crear la petición
      </h2>
      <ul>
        <% @donacione.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="position: absolute; top: -20px;left: 1000px;"> <font size=4> <h3> <%=link_to "Perfil", new_user_session_path, style: "color:#0000FF" %> </h3></font> </div>


   <div style="position: absolute; top: -20px;left: 1200px;"><font size=4> <h3><%=link_to "Cerrar sesion", destroy_user_session_path, method: :delete, style: "color: #0000FF"%></h3></font></div>

 <div class="field">
    <h3><%= f.label :nombre,"Título"%></h3>
        <%= f.text_field :titulo, autofocus: false, placeholder: "Título" %> 
  </div>

 <div class="field">
    <h3><%= f.label :descripcion, "Descripción"%></h3>
     <%= f.text_field :descripcion, autofocus: false, placeholder: "Descripción"%> 
  </div>

 <div class="field">
    <h3><%= f.label :nombre_del_hospital,"Nombre del hospital"%></h3>
    <%= f.text_field :nombre_hospital, autofocus: false, placeholder: "Nombre del hospital" %>
  </div>

 <div class="field">
    <h3><%= f.label :dirección_del_hospital,"Direccion del hospital"%></h3>
    <%= f.text_field :direccion_hospital, autofocus: false, placeholder: "Direccion del hospital" %>
  </div>

  <div class="field">
    <h3><%= f.label :teléfono_del_hospital, "Telefono del hospital"%></h3>
    <%= f.text_field :tel_hospital, autofocus: false, placeholder: "Telefono del hospital" %>
  </div>
 <br />
  <%= f.submit "Nueva petición" %>
<% end %>
<br />
<%= link_to 'Volver', donaciones_path, style: "color:#0000FF"%>
